<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'slide'" [interval]="0" [(activeSlide)]="activeSlide" (activeSlideChange)="activeSlideChange()">
  <div id="wrapper">
    <mdb-slide *ngFor="let category of serviceCategories">
      <div class="card">
        <img style="height: 80vH;" class="d-block" src="assets/img/{{category.imageFile}}" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        <div class="card-body">
          <div style="height: 20vh;">
            <h1 class="h3-responsive">{{category.name}}</h1>
            <h2>{{category.catchyPhrase}}</h2>
            <p>{{category.description}}</p>
          </div>
        </div>
      </div>
    </mdb-slide>
  </div>
</mdb-carousel>

<div *ngIf="activeCategory" >
  <div *ngFor="let service of activeCategory.services" class="jumbotron">
  <div class="container-fluid">
    <div class="col-g-3" >
      <img [src]="'/assets/img/' + service.imageFile" alt="{{service.title}}">
    </div>
    <div class="col-g-6">
      <h3>{{service.title}}</h3>
      <h4>{{service.catchyPhrase}}</h4>
      <p>{{service.description}}</p>
      <p>{{service.href}}</p>
    </div>
    <div class="col-g-3">
      <h3>Kontakt:</h3>
      <h4 *ngFor="let contact of service.contactpersons">
        {{contact.name}}
      </h4>
    </div>
  </div>
  </div>
</div>
